@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');

html,body{
    /* display: flex; */
    margin: 3% 10% 3%;
    /* flex-direction: row; */
    height: 150%;
}
.test h2{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 15px;
}
.test h5{
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding: 15px;
}
.teaser{
    display: flex;
    margin: auto;
    padding: 40px;
    width: 1400px;
}

.row{
    display: flex;
    width: auto;
}
.column{
    display: flex;
    flex: 1;
    
    padding: 10px;
    border:2px dashed #000;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10% 0 10%;
}

#uploadBox.active{
    border:2px dashed #000;
}

#uploadBox .icon{
    font-size: 50px;
    color: #000;
}
#resultBox .icon{
    font-size: 50px;
    color: #000;
}

#uploadBox header{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#uploadBox span{
    font-size: 10px;
    text-align: center;
    margin: 10px 0 15px 0;
}

#uploadBox button{
    padding: 10px 25px;
    font-size: 10px;
    border: none;
    outline: none;
    background: #000;
    color:#fff;
    border-radius: 5px;
    cursor: pointer;
}

#uploadBox img{
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.gender{
    display: flex;
    margin: 20px 15% 0 18%;
}

input[name="gender"]{
    
    display: flex;
    padding: 10px;
    margin: 6px 5px 0 30px;
}
#metrics  {border-collapse:collapse;border-spacing:0;}
        #metrics td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        #metrics th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        #metrics .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
        #metrics .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
        #metrics .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
h2.exp{
    margin-left: 10%;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}
.abstract{
    margin: 20px 15% 20px 15%;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(61, 60, 60);
}
.upload{
    margin: 20px 15% 20px 22%;
    color: darkgray;
    background-color: #000;
    align-items: center;
    border-radius: 5px;
    outline: none;
    padding: 8px 25px;    
}

.results{
    display: flex;
    flex: 1;
    margin-top: 30px;
}

table{
    padding:20px;
    margin:auto;
}

.tg#tgSpeech{
    margin-top: 30px;
}
li{
    padding: 10px;
    /* margin-right:20%; */
    margin:auto;
    margin-left: 25%;
}
.refRow{
    display: flex;
    padding: 30px;
    margin: auto;
}
.colRef{
    flex: 1;
    padding: 10px;
    margin: auto;
}
.conclusion{
    margin: 20px 15% 20px 15%;
}

#tgSpeech  {border-collapse:collapse;border-spacing:0;}
#tgSpeech td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
#tgSpeech th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
#tgSpeech .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
#tgSpeech .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
#tgSpeech .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}