{% extends 'layouts.html'%}
{% block content %}

<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</p>

<h2 class="exp">Experiment</h2>
<form method="post" action="/" enctype="multipart/form-data">
    
    <div class="row">

        {% if threeDimage %}
        <div class="column" id="uploadBox">
            <img src="data:;base64,{{ image }}" width = auto>
            <button>Try Again</button>
        </div>
        <input type="file" id="uploadImage" name="file" autocomplete="off" required hidden accept="image/*">
        <div class="column" id="resultBox">
            <img src="data:;base64,{{ threeDimage }}" width = auto>
        </div>

        {% else %}
        <div class="column" id="uploadBox">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Upload image above your torso for better results</header>
            <span>OR</span>
            <button>Browse File</button>
        </div>
        <input type="file" id="uploadImage" name="file" autocomplete="off" required hidden accept="image/*">
        <div class="column" id="resultBox">
                <div class="icon"><i class="fas fa-grin-wink"></i></div>
        </div>
        {% endif %}
    </div>
    
    <div class="gender">
        <input type="radio" checked="checked" value="female" name="gender"> Female<br> 
        <input type="radio" value="male" name="gender"> Male<br>        
    </div>
    
    <button class="upload"><input type="submit" hidden>Upload</button>

</form>

{% endblock %}